BACKEND/node_modules
BACKEND/public
BACKEND/.tmp
BACKEND/.idea
BACKEND/dist
BACKEND/npm-debug.log
BACKEND/server/config/local.env.js

FRONTEND/logs
FRONTEND/*.log
FRONTEND/npm-debug.log*
FRONTEND/pids
FRONTEND/*.pid
FRONTEND/*.seed
FRONTEND/lib-cov
FRONTEND/coverage
FRONTEND/.nyc_output
FRONTEND/.grunt
FRONTEND/.lock-wscript
FRONTEND/build/Release
FRONTEND/node_modules
FRONTEND/jspm_packages
FRONTEND/typings
FRONTEND/.npm
FRONTEND/.node_repl_history
FRONTEND/app/**/*.js
FRONTEND/app/**/*.js.map
